Q4/cosume-webservice-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="ListOfCountryNamesGroupedByContinent" doc:id="c7bbf08e-a310-4e78-94ea-ca7541ad6dec" >
		<http:listener doc:name="Listener" doc:id="5cbac385-1928-4f9e-aafa-bd5ed27d272d" config-ref="HTTP_Listener_config" path="/ListOfCountryNamesGroupedByContinent"/>
		<wsc:consume doc:name="Consume" doc:id="be0f7455-1dcc-4a0c-8ef7-6cb5ab9a6e58" config-ref="Web_Service_Consumer_Config" operation="ListOfCountryNamesGroupedByContinent"/>
		<ee:transform doc:name="payload in json" doc:id="434933a0-e0bd-4217-a2be-aa39fea7b7ee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="country with continents-" doc:id="ef898299-88d2-400b-8b1e-4cbe5e9d3ac7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload.ListOfCountryNamesGroupedByContinentResponse.ListOfCountryNamesGroupedByContinentResult pluck {
    "continent" : $.Continent.sName,
    "countries" : $.CountryCodeAndNames.*tCountryCodeAndName map
        ($.sName)
}) map if ($.continent == "Africa") {
        "continent" : $.continent,
        "countries" : ($.countries)   filter $ == "Cameroon"
}
else if ($.continent == "The Americas") {
            "continent" : $.continent,
        "countries" : ($.countries)   filter $ == "Suriname"
}
else if ($.continent == "Asia") {
            "continent" : $.continent,
        "countries" : ($.countries)   filter (["India","Mongolia"] contains $)
}
else if ($.continent == "Europe") {
    "continent" : $.continent,
        "countries" : ($.countries)   filter (["Belarus","Hungary","Germany" ] contains $)
}
else ($)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0c1e6152-7962-462d-94b0-b8ff00ece688" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3378deeb-b798-4717-80dd-a389da6fd3f1" >
				<set-payload value="ERROR IN dataweave" doc:name="ERROR" doc:id="5eb807a3-e736-4f31-afc9-57a026337797" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="FullCountryInfoAllCountries" doc:id="237083b9-802f-4021-9d80-447dc11daef6" >
		<http:listener doc:name="Listener" doc:id="6d03f644-00d8-45f5-83e5-8c105901ad32" config-ref="HTTP_Listener_config" path="/fullcountryinfoallcontries"/>
		<wsc:consume doc:name="Consume" doc:id="618252bb-f33b-46e9-938f-77156c2fc73c" config-ref="Web_Service_Consumer_Config" operation="FullCountryInfoAllCountries"/>
		<ee:transform doc:name="print country with french and all other languages" doc:id="e8590fdc-fb42-4044-b4c7-cd83fbf94d38" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload.body.FullCountryInfoAllCountriesResponse.FullCountryInfoAllCountriesResult.*tCountryInfo map{
    "country name": $.sName,
    "language": (($.Languages.*tLanguage) filter ($.sName == "French") default {} ) ++ ((($.Languages.*tLanguage) filter ($.sName != "French")) default {})
}) ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a964c816-6309-4a10-820b-e8aa4119c236" message="payload is #[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="284274fb-b3d8-4f1f-957f-919333ced843" >
				<set-payload value="ERROR IN dataweave" doc:name="ERROR" doc:id="9d8a4cf3-042d-491e-b29d-aed8d612d93b" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
